nav {
  background: #7F828F;
  color: #FFFFFF;
  width: 100%;
}
.site-nav {
  width: 100%;
}
nav ul {
  float: right;
}
.navbar-nav li {
  display: inline-block;
  list-style-type: none;
}
.logo {
  width: 25%;
  height: 25%;
}
