<!-- LOGIN AND REGISTER FORMS -->

<!-- LOGIN -->
<div class="container text-center" ng-if="user.loginDisplay">
  <form>
    <input type="text" name="" placeholder="username">
    <input type="text" name="" placeholder="password"><br/>
    <button class="btn-default" type="button" name="button">Login</button>
  </form>
</div>

<!-- REGISTER -->
<div class="container text-center" ng-if="user.registerDisplay">
  <form>
    <input type="text" name="" placeholder="username">
    <input type="password" name="" placeholder="password">
    <input type="password" name="" placeholder="confirm password"><br/>
    <button class="btn-default" type="button" name="button">Register</button>
  </form>
</div>
