<div class="jumbotron">
  <div class="containter-fluid text-center">
    <h1>{{user.username}}</h1>
  </div>
</div>


<ul class='nav nav-tabs'>
  <li class='nav-item'>
    <a href="#edit" class='nav-link' data-toggle='tab' role='tab'ng-click='user.toggleEdit()'>Edit</a>
  </li>
</ul>


<div class='tab-content'>

<div id='edit' role='tabpanel' ng-if='user.editDisplay'>
  <form ng-submit="">
    <input type="text" ng-model="userEdit.username" placeholder="username">
    <input type="password" ng-model="userEdit.password" placeholder="password"><br/>
    <button class="btn-default" type="submit" name="button">Update</button>
  </form>
</div>
