<div class="jumbotron text-center">
  <div class="containter-fluid text-center">
    <h1>{{user.username}}</h1>
    <h5>{{user.id}}</h5>
  </div>

<ul class='nav nav-tabs'>
  <li class='nav-item'>
    <a href="#edit" class='nav-link' data-toggle='tab' role='tab'ng-click='user.toggleEdit()'>Edit</a>
  </li>
</ul>


<div class='tab-content'>

<div id='edit' role='tabpanel' ng-if='user.editDisplay'>
  <form ng-submit="user.update(1)">
    <input type="text" ng-model="user.updatedUser.username" placeholder="username">
    <input type="password" ng-model="user.updatedUser.password" placeholder="password"><br/>
    <br/>
    <button class="btn-default" type="submit" name="button">Update</button>
  </br>
  </br>
  <button class='btn btn-danger' ng-click='user.delete(user.id)'>Delete</button>
  </form>
</div>
</div>
